

.navbar {
    width: 100%;
    height: inherit;
    background-color: var(--navbar-background);
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* box-shadow: 0px 0px 12px var(--border); */
    /* -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527; */
  }
  
  .navbar .logo h1 a {
    color: var(--navbar-color);
    text-decoration: none;
  }
  .navbar .menu{
    
    
  }
  .navbar .menu li{
    
    padding: 20px;
    list-style: none;
    display: inline-block;
    
  }
  
  .navbar .menu li a{
    text-decoration: none;
    color: var(--navbar-color);
    font-family: monospace;
    text-transform: uppercase;
    font-size: large;
    letter-spacing: normal;
  }
  .navbar .menu li a:hover{
    color: #c4c1c1;
    
  }

  @media screen and (max-width: 1000px) {

    .navbar .menu li{
    
        padding: 20px;
        list-style: none;
        display: inline-block;
        
      }
  }  

  @media screen and (max-width: 900px) {

    .navbar {
        width: 100%;
        height: inherit;
        background-color: #343739;
      
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
      }

    .navbar .menu li{
    
        padding: 20px;
        list-style: none;
        display: flex;
        justify-content: center;
        
      }
  }  


  @media screen and (max-width: 600px) {

    .navbar {
  
        width: 100%;
        height: inherit;
        background-color: #343739;
        display: flex;
        justify-content: center;
        align-items: center;
       
      }
    
      .navbar .logo {
        display: flex;
        justify-content: center;
      }
    
      .navbar .menu li{
        padding: 5px;
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: center;
      }

  }